.bluepart{
    width: 100wh;
    background-color: #0282f9;
    display: flex;
    justify-content: center;
    height: 140px;

    .container{
        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        li{
            list-style: none;
        }

        .small-container{
            display: flex;
            align-items: center;
            color: white;
            font-size: 14px;

            img{
                width: 40px;
                height: 55px;
                margin-right: 5px;
            }

        }

    }
}
